*{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 18px;
}
body{
  display: flex;
  flex-direction: column;
}
#contenu{
  flex: 1 0 auto;
  max-width: 1200px;
  padding: 0px 20px;
  margin: auto;
}
.shopping-cart{
  float:right;
  color: #14597f;
}
.count{
  font-size: 16px;
  font-weight: bold;
  position: relative;
  border: solid;
  border-radius: 50%;
  border-color: #d9534f;
  background-color: #d9534f;
  top: 10px;
  right: 18px;
}
.button{
  background-color: #14597f;
  border-style: solid;
  border-width: 1px;
  border-color: #0b2d3d;
  border-radius: 4px;
  transition: background-color 0.2s;
}
.button:hover{
  background-color: #1fb5e9;
}
#homeImage{
  float: right;
  width: 600px;
  height: auto;
  height: auto;
}
header{
  background-color: #14597f;
  height: 60px;
  color: #FFFFFF;
}
.active:active{
  background-color: #1fb5e9;
  border-style: solid;
  border-radius: 4px;
  border-width: 2px;
}
#logolink{
  float: left;
  font-size: 18px;
  padding: 0px 20px;
}
#navlink{
  float: right;
  padding: 0px 20px;
  padding: 0px 20px;
}
#footertable{
  padding: 0px 20px;
}
footer{
  flex-shrink: 0;
  background-color: #eeeeee;
  height: 70px;
  border-top: 1px solid #cccccc;
}
.barreLateral{
  position: relative;
  border: inset 3px;
  max-width: 25%;
  padding-right: 20px;
}
.produits{
  max-width: 75%;
}
.mainborder{
  border: inset 5px;
}
.productsborder{
  border-style: solid;
  border-color: #999999;
  border-radius: 4px;
  transition: background-color 0.2s;
}
.productsborder:hover{
  background-color: #f3f3f3;
}
.prixproducts{
  float: right;
  padding-right: 10px;
}
#productslist{
  border-collapse: separate;
  border-spacing: 5px;
}
.categorybuttons{
  border: solid #999999;
  border-radius: 4px;
  font-size: 12px;
  transition: background-color 0.2s;
}
.categorybuttons:hover{
  background-color: #f3f3f3;
}
.selected{
  transition: background-color 0s;
}
.selected::selection{
  background-color: #ddf2fb;
}
